[package]
name = "wavesyncdb_derive"
version = "0.2.0"
edition = "2024"

[lib]
proc-macro = true

[dependencies]
quote = "1.0"
syn = { version = "2.0", features = ["full"] }

[dev-dependencies]
tokio = { workspace = true }
sea-orm = { workspace = true }
wavesyncdb = { workspace = true }
